/node_modules
/public/hot
/public/boot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/Python/config_live.json
public/Python/shift.csv - Copy.BK
*.lock